body {
  font-family: "Arial" sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 10px 20px;
  height: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  font-family: monospace;
}

.logo {
  font-size: 1.5rem;
  font-family: monospace;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: pink;
}

.container {
  height: calc(100vh - 50px);
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: black;
  font-size: 3.5rem;
  font-family: monospace;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
}

.button:hover {
  background-color: pink;
  color: white;
  font-weight: bold;
}
